#strip {
    margin: 0;
    padding: 0;
    display: flex;
    height: 300px;
    width: 100%;
    background: linear-gradient(0deg, #8a00b0 0%, #004190 100%);
    z-index: 0;
}

#strip-left{
    background-image: url("../circles.svg");
    background-size: 500px;
    background-position: right -42px; 
    width: 50%;
    z-index: 1;
}

#strip-right{
    background-image: url("../circles.svg");
    background-size: 500px;
    background-position: left -42px; 
    width: 50%;
    z-index: 1;
}

#strip-logo{
    margin: 0 -90px 0 -90px;
    background-image: url("../duo-geo-white.svg");
    background-size: 360px; 
    background-repeat: no-repeat;
    background-position: center 70px; 
    z-index: 2;
    height: 100%;
    flex: 0 0 400px;
    pointer-events: none;
}
